# Logs
logs
*.log

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode
.idea
*.iml

# Auto Imports (Auto Created Files)
eslintrc-auto-import.json
/src/auto-imports.d.ts
/src/components.d.ts
